.red-box {
    background-color: red;
    height: 100px;
    width: 100px;
    opacity: 50%;
    position: absolute;
    right: 0px;

}

.blue-box {
    background-color: blue;
    height: 100px;
    width: 100px;
    opacity: 50%;
 
    
}

.yellow-box {
    background-color: yellow;
    height: 100px;
    width: 100px;
    opacity: 50%;   
}

body {
    margin: 0px;
}

.container {
    background-color: grey;
    height: 300px;
    position: relative;
    width: 300px;

}